.activity{
  position: relative;
  width: 500px;
  height: 100px;
  border-radius: 8px;
  padding: 2px;
  margin: 3px;

  border-width: thin;
  border-color: dimgray;
  border-style: solid;
}

.activity:hover{
  opacity: 0.85;
  width: 515px;
  height: 110px;
}

.activity-div{
  display: inline-block;
  position: relative;
  top: inherit;
  left: inherit;
  margin-left: 3px;
}

.activity-title{
  position: relative;
  padding: 4px;
  display: inline-block;
  background:rgba(255,255,255, 0.4);
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
}

.duree {
  height: 95px;
  width: 150px;
  position: absolute;
  top: 5px;
  right: 5px;
}

