<div (click)="clickActivity()" class="activity" [ngStyle]="{'background':category.color.htmlCode}">
  <h3>
    {{nom }}
  </h3>
  <p>
    {{description}}
  </p>
  <!--
  <div *ngIf="mesDurees">
    <ul>
      <li *ngFor="let duree of mesDurees">
        <p>
          Debut: {{duree.start | date: 'dd/MM/yyyy HH:mm:ss'}}
          Fin: {{duree.end | date: 'dd/MM/yyyy HH:mm:ss'}}
          Durée: {{duree.secondsPassed}}
        </p>
      </li>
    </ul>
  </div>
  -->
  <app-duree [duree]="duree" class="duree"></app-duree>
</div>

