<div (click)="clickActivity()" class="activity" [ngStyle]="{'background':category.color.htmlCode}">

  <div class="activity-div">
    <h3 class="activity-title">
      {{nom}}
    </h3>
  </div>

  <app-duree [duree]="duree" class="duree"></app-duree>

</div>

<div class="description" *ngIf="descriptionaffiche" [ngStyle]="{'background':category.color.htmlCode}" (click)="clickDescription()" >
  <p>{{description}}</p>
</div>

<button class="export" *ngIf="!descriptionaffiche" (click)="clickDescription()()" [ngStyle]="{'background':category.color.htmlCode}">Description</button>
<button class="export" (click)="export()">Exporter</button>

