.activity{
  display: inline-block;
  text-align: center;
  position: relative;
  width: 663px;
  height: 70px;
  border-radius: 8px;
  padding: 2px;
  margin: 3px;
  margin-bottom: 2px;
  margin-top: 10px;
  border-width: thin;
  border-color: darkslategrey;
  border-style: solid;
}


.description{
  width: 670px;
  border-radius: 8px;
  padding: 2px;
  margin: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-width: thin;
  border-color: dimgray;
  border-style: solid;
}

.description > p{
  color: white;
  text-align: center;
  word-wrap: break-word
}

.description:hover{
  opacity: 0.80;
}

.activity:hover {
  width: 670px;
  opacity: 0.80;
}

.activity-div{
  display: inline-block;
  padding-bottom: 10px;
}

.activity-title{
  position: relative;
  padding: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: inline-block;
  color: white;
  font-size: 1.5em;
}

.duree {
  height: 65px;
  width: 150px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.bouton{
  position: relative;
  width: 670px;
  height: 25px;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  border-width: thin;
  border-color: dimgray;
  border-style: solid;
  color: white;
}
.bouton:hover{
  opacity: 0.80;
  height: 35px;
}

.export{
  position: relative;
  width: 670px;
  height: 25px;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  border-width: thin;
  border-color: dimgray;
  border-style: solid;
}

.export:hover{
  opacity: 0.80;
  height: 35px;
}
