<div>

  <fieldset>

    <legend>Nouvelle catégorie</legend>

    <!-- Libellé -->
    <div>
      <label>Libellé</label>
      <input type="text" [(ngModel)]="libelle" required autofocus>
    </div>

    <!--Code  -->
    <div>
      <label>Couleur</label>
      <select [(ngModel)]="color">
        <option *ngFor="let color of possibleColors" [ngValue]="color" [ngStyle]="{'background':color.htmlCode}">{{color.libelle}}</option>
      </select>
    </div>

  </fieldset>

  <a><button (click)="ajouterCategory(libelle,color)" [attr.disabled]="libelle!=null&&libelle.length!=0?null:''">Valider</button></a>

</div>
