.divhr{
  width: 676px;
}

.application-title{
  background-color:	#396a93; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin:  10px  0px  10px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 613px;
  border-radius: 6px;
}

.button{
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: inherit;
  border-radius: 2px;
}

.button:hover{
  opacity: 0.8;
}

.application-title:hover{
  opacity: 0.8;
}

.buttons{
  width: 800px;
}

.buttonClicked {
  padding: 17px 34px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}


