

<div>
  <fieldset>
        <legend>Nouvelle activité</legend>

    <!-- Libellé de l'activité -->
    <div>
      <label>Libellé</label>
      <input type="text" [(ngModel)]="libelle" required autofocus >
    </div>
    <!-- Catégorie -->
    <div>
      <label>Catégorie</label>
      <select [(ngModel)]="category">
        <option *ngFor="let c of allCategories" [ngValue]="c">{{c.libelle}}</option>
      </select>
    </div>
    <!--Description  -->
    <div>
      <textarea [(ngModel)]="actDesc" placeholder="Description" required></textarea>
    </div>
  </fieldset>
  <button routerLink="/home" (click)="ajouterActivity(libelle,actDesc,category)" [attr.disabled]="libelle!=null&&actDesc!=null?null:''">Valider</button>


</div>

