#chart {
  display: block;
  width: 50%;
}

button {
  color: white;
  background-color: #009cba;
  margin: 2px;
  border: darkslategrey;
  border-style: none;
  border-width: thin;
  padding: 11px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

button:hover{
  border-style: solid;
}

.fielglob {
  padding: 15px 32px;
  margin:  10px  0 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 613px;
  border-radius: 6px;
  border-color: #008CBA; /* Blue */
}

.rechercheA {
  font-size: 20px;
  text-align: center;
  border-color: #008CBA;
  border-radius: 6px;
}
