
  <div>
    <fieldset class="fielglob">
      <legend>Historique</legend>
      <div>
        <label>
          <span>
            <select class="select-style" (click)="getDurees(catego);selecCat(catego.libelle,tempsDeb,tempsFin)" [(ngModel)]="catego">
              <option *ngFor="let catego of allCategories" [ngValue]="catego">{{catego.libelle}}</option>
            </select>
          </span>
        </label>
      </div>
      <fieldset class="rechercheA">
        <legend>Recherche avancée</legend>
        <div>
          <label *ngIf="tempsStartF"> Début
            <span>
              <select class="select-style" (click)="tempsDebSelected(tempsDeb)" *ngIf="tempsStartF" [(ngModel)]="tempsDeb">
                <option *ngFor="let tempsDeb of tempsStartF" [ngValue]="tempsDeb">{{tempsDeb | date:'(dd/MM) HH' }}</option>
              </select>
            </span>
          </label>
          <label *ngIf="tempsDeb"> Fin
            <span>
              <select class="select-style" *ngIf="tempsEndF" [(ngModel)]="tempsFin">
                <option *ngFor="let tempsFin of tempsEndF" [ngValue]="tempsFin">{{tempsFin | date:'(dd/MM) HH' }}</option>
              </select>
            </span>
          </label>
        </div>
      </fieldset>
     </fieldset>
  </div>
    <div id="chart" *ngIf="waiter+tempsDeb&&tempsFin">
      <fieldset class="fielglob">
        <canvas baseChart
                [data]="percentage"
                [labels]="listeActivitees"
                [options]="pieChartOptions"
                [chartType]="pieChartType">
        </canvas>
      </fieldset>
    </div>


